PanelSeguridad/bin/PanelSeguridad.pdb
PanelSeguridad/bin/PanelSeguridad.xml
PanelSeguridad/obj/Debug/PanelSeguridad.pdb
PanelSeguridad/obj/Debug/PanelSeguridad.xml
PanelSeguridad/obj/Debug/AdmonActivos.vbproj.GenerateResource.Cache
PanelSeguridad/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AdmonActivos.suo
PanelSeguridad/bin/PanelSeguridad.pdb


X:/ERP_Documentos_D/Documentos_Genericos/