/PanelSeguridad/bin/PanelSeguridad.pdb
/PanelSeguridad/bin/PanelSeguridad.xml
/PanelSeguridad/obj/Debug
/PanelSeguridad/obj/Release
/PanelSeguridad/Repository_Document
PanelSeguridad/AdmonActivos.v11.suo
PanelSeguridad/AdmonActivos.suo
*.pdb
PanelSeguridad/bin/PanelSeguridad.xml
PanelSeguridad/AdmonActivos.vbproj.user
AdmonActivos.v11.suo
