PanelSeguridad/Web.config
PanelSeguridad/Repository_Document
*.config
AdmonActivos.v11.suo
AdmonActivos.v11.suo
AdmonActivos.v11.suo
PanelSeguridad/bin/PanelSeguridad.dll
PanelSeguridad/bin/PanelSeguridad.pdb
PanelSeguridad/bin/PanelSeguridad.xml
*.cache
PanelSeguridad/obj/Debug/PanelSeguridad.dll
PanelSeguridad/obj/Debug/PanelSeguridad.pdb
AdmonActivos.v11.suo
AdmonActivos.v11.suo
PanelSeguridad/bin/PanelSeguridad.xml
PanelSeguridad/bin/PanelSeguridad.pdb
PanelSeguridad/bin/PanelSeguridad.dll
PanelSeguridad/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PanelSeguridad/obj/Debug/PanelSeguridad.xml
PanelSeguridad/obj/Debug/PanelSeguridad.vbproj.GenerateResource.Cache
PanelSeguridad/obj/Debug/PanelSeguridad.vbproj.GenerateResource.Cache