/*-- DIV PARTE CONTAINER PAGINA ---*/
#panel_pag {
    vertical-align: text-top;
    padding-left: 30px;
    width: 100%;
}

/************************************************************************************
BARRA DE TITULO 
*************************************************************************************/
/*personalizacion de la barra de titulo*/
.Container_title_Form {
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    border-radius: 3px;
    margin-left: 25px;
    margin-top: 5px;
    padding-right: 0.5em;
    font-weight: bold;
    color: #ffffff;
    width: 94.5%;
    position: absolute;
}

/*-- TABLE TITULO CONTENT---*/
#Tabla_Title_form {
    width: 100%;
}

/************************************************************************************
CONTENEDOR DE FORMULARIO
*************************************************************************************/
/*-- DIV CONTENT PRINCIPAL---*/
.Marco_Container {
    margin-top: 35px;
    margin-left: 25px;
    padding: 14px 14px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 92.5%;
    height: 72%;
    position: absolute;
}

/*DIV CONTENT PRINCIPAL SIN ADMINISTRACION*/
.Marco_Container_Flex {
    margin-top: 35px;
    margin-left: 25px;
    padding: 14px 14px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 92.5%;
    height: 68%;
    overflow: auto;
    position: absolute;
}

/*-- DIV CONTENT BOTONES ADMINISTRACION---*/
.Marco_btn_Form {
    margin-top: 1px;
    padding: 20px 20px;
    background-color: silver;
    border-radius: 10px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border: solid 1px #ccc;
    width: 97%;
    height: 7%;
    text-align: center;
}

/*-- DIV CONTENT AREA DE TRABAJO---*/
.Marco_trabajo_Flex {
    position: relative;
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border: solid 1px #ccc;
    width: 97%;
    height: 550px;
    overflow: auto;
}

/*-- DIV CONTENT AREA DE TRABAJO---*/
.Marco_trabajo_Form {
    position: relative;
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border: solid 1px #ccc;
    width: 97%;
    height: 430px;
    overflow: auto;
}

/*-- DIV CONTENT AREA DE DATOS CONSULTA---*/
.Container_controls {
    width: 100%;
}

/*-- TABLA FILTRO DE CONSULTA---*/
#TablaConsulta {
    width: 100%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

/*-- TABLA CREACION DE DATOS---*/
#TablaDatos {
    width: 100%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

/*-- DIALOGO CREACION DE DATOS---*/
.Dialog_Datos, .Dialog_Datos_Vista {
    width: 96%;
    height: 100%;
    padding: 2%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    overflow: auto;
}

/*-- DIALOGO TABLA DE ENCABEZAO DE DATOS PARA  DIALOGO ---*/
.Header_Datos_Max {
    width: 1120px;
    height: 600px;
    overflow: auto;
    padding: 40px 30px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

/*-- CONTENEDOR DE LAS GRILLAS DE CONSULTA CON ADMINISTRACION ---*/
.container_TGrid {
    width: 1050px;
    height: 348px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

/*-- CONTENEDOR DE LAS GRILLAS DE CONSULTA SIN ADMINISTRACION ---*/
.container_TGrid_New {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

/*-- CONTENEDOR DE LAS GRILLAS DE OPERACION EN LOS MODULOS ---*/
.container_TGrid_Create {
    width: 1120px;
    height: 360px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
    margin-top: 5px;
}

/*-- CONTENEDOR DE LAS GRILLAS DE OPERACION EN EL MODULO CLIENTE ---*/
#container_Document, #container_direccion, #container_Bank {
    width: 970px;
    height: 340px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

/*-- CONTENEDOR DE LAS GRILLAS DE CONSULTA PEQUENAS ---*/
.container_TGrid_Compact {
    width: 930px;
    height: 150px;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

/*-- CONTENEDOR DE LAS GRILLAS EN MODULOS ESPECIALES ---*/
.container_Grid_Flex, #Blo_Inmuebles, #Blo_Fasecolda {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    overflow: auto;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}


/*-- CONTENEDOR POR BLOQUES EN TABLAS ---*/
.Table_Header_Block {
    margin-top: 10px;
    width: 100%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

/*-- CONTENEDOR POR BLOQUES EN DIV---*/
.Div_Complement_Block {
    margin-top: 20px;
    width: 90%;
    padding: 40px 30px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

/*-- CONTENEDOR POR BLOQUES EN DIV FULL ESPACIO---*/
.Div_Full_Block {
    width: 100%;
    overflow: auto;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

/************************************************************************************
FUNCIONALIDADES GLOBLARES
*************************************************************************************/

/*--- BOTONES DE GUARDADO DE FORMULARIOS ---*/
#Controls {
    text-align: center;
    width: 100%;
    margin: 10px;
}

/*--- ESTILO SASIF PARA LOS DIALOGOS O VENTANAS EMERGENTES ---*/
.Dialog_Sasif {
    border-radius: 10px;
    padding: 20px 26px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

/************************************************************************************
FUNCIONALIDADES SUB MENU CLIENTES
*************************************************************************************/

/*CONTROL IMAGEN DIRECCION*/
#DivA:hover .ImaAddress {
    content: url("../../images/adress_book_w.png");
}

.ImaAddress {
    content: url("../../images/adress_book.png");
}

/*CONTROL IMAGEN BANCO*/
#DivB:hover .ImaBank {
    content: url("../../images/bank_w.png");
}

.ImaBank {
    content: url("../../images/bank.png");
}

/*CONTROL IMAGEN DOCUMENTO*/
#DivD:hover .ImaDoc {
    content: url("../../images/documentos_w.png");
}

.ImaDoc {
    content: url("../../images/documentos.png");
}

/*CONTROL IMAGEN RELACION*/
#Div_R:hover .ImaRelation, #Div_RC:hover .ImaRelation {
    content: url("../../images/Relation_Gray.png");
}

.ImaRelation {
    content: url("../../images/Relation_Red.png");
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* para 980px o menos horizontal*/
@media screen and (max-width: 980px) {
    .Container_title_Form {
        width: 92%;
    }

    .Marco_Container {
        width: 89%;
    }

    .Marco_Container_Flex {
        width: 89%;
    }

    .Marco_btn_Form {
        width: 95%;
    }

    .Marco_trabajo_Form {
        width: 95%;
    }

    .Marco_trabajo_Flex {
        width: 95%;
    }
}

/* para 700px o menos */
@media screen and (max-width: 700px) {
    .Container_title_Form {
        width: 89%;
    }

    .Marco_Container {
        width: 85.7%;
    }

    .Marco_Container_Flex {
        width: 85.7%;
    }

    .Marco_btn_Form {
        width: 92%;
    }

    .Marco_trabajo_Form {
        width: 92%;
    }

    .Marco_trabajo_Flex {
        width: 92%;
    }
}

/* para 550px o menos */
@media screen and (max-width: 550px) {
    .Container_title_Form {
        width: 87%;
    }

    .Marco_Container {
        width: 82.7%;
    }

    .Marco_Container_Flex {
        width: 82.7%;
    }

    .Marco_btn_Form {
        width: 90%;
        height: 10%;
    }

    .Marco_trabajo_Form {
        width: 90%;
    }

    .Marco_trabajo_Flex {
        width: 90%;
    }
}

/* para 480px o menos */
@media screen and (max-width: 480px) {
    .Container_title_Form {
        width: 95.5%;
        margin-left: -30px;
    }

    .Marco_Container {
        width: 86.5%;
        margin-left: -30px;
    }

    .Marco_Container_Flex {
        width: 86.5%;
        margin-left: -30px;
    }

    .Marco_btn_Form {
        width: 83%;
    }

    .Marco_trabajo_Form {
        width: 83%;
    }

    .Marco_trabajo_Flex {
        width: 83%;
    }

    input[type='button'] {
        width: 80px;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           PARAMETRIZACION PROCESOS                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* pendiente por fallas en el modulo informe impuesto*/
#D_Impuestos, #D_Clientes_Z {
    margin-top: 15px;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    font: 12px/20px CenturyGothic,sans-serif;
}
/* pendiente por fallas en el modulo informe impuesto*/



#Bloque_datosIngreso, #T_Datos_Identificacion_blin, #Bloque_datos_activos, #Bloque_Datos_Factura {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#Bloque_datos_Terceros1, #Bloque_datos_Terceros2 {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 95%;
    padding: 20px 15px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

.topform {
    border: gray solid 2px;
    border-style: outset;
    border-radius: 3px;
    width: 150px;
}

.Select_tiny {
    width: 50px;
}

.Select_medium {
    width: 90px;
}


#Tabla_Info_Dic, #Tabla_Ubic, #Tabla_Direccion, #Tabla_Correo, #Tabla_Telefono {
    margin-top: 10px;
    width: 740px;
    border-radius: 20px;
    border-width: 5px;
    font: 12px/20px CenturyGothic,sans-serif;
}




#T_Valores, #T_Saldos {
    width: 100%;
}


#Container_Complementos {
    height: 45%;
    width: 20%;
    position: absolute;
    padding-top: 4%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    z-index: 40;
    margin-left: 5px;
    margin-top: 10px;
}

.Option_Cliente {
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    width: 100%;
    height: 50px;
    text-align: left;
    border: solid 1px #e0e0e0;
    color: gray;
}

    .Option_Cliente:hover {
        background: -webkit-linear-gradient(#b70d0d, #631111);
        background: -o-linear-gradient(#b70d0d, #631111);
        background: -moz-linear-gradient(#b70d0d, #631111);
        background: linear-gradient(#b70d0d, #631111);
        border: solid 1px white;
        color: white;
        cursor: pointer;
    }

.C_Image {
    padding-left: 10px;
    position: absolute;
}

.C_Text {
    padding-left: 60px;
    margin-top: 15px;
}

.T_options {
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    z-index: 50;
}


#Foto_Persona {
    width: 86%;
    height: 120px;
    position: absolute;
    z-index: 0;
    text-align: right;
    margin-top: 10px;
}

#Footer_Det {
    position: absolute;
    margin-top: 55px;
    border: solid 1px;
    border-radius: 3px;
    border-style: outset;
}

.Sigla {
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}

/*CONTROL IMAGEN DIRECCION*/
#logoExt:hover .Ext {
    content: url("../../images/agenda_gray.png");
    cursor: pointer;
    cursor: hand; /*internet explorer*/
}

.Ext {
    content: url("../../images/agenda.png");
}

#image_exit {
    text-align: end;
}

