/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                               ADMININSTRACION PARAMETRIZABLE                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------- TITULO ---------------------------*/
/*personalizacion de la barra de titulo*/
#Container_title_Form
{
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    border-radius: 3px;
    margin-left: 25px;
    margin-top: 5px;
    padding-right: 0.5em;
    font-weight: bold;
    color: #ffffff;
    width: 97.5%;
}

#Tabla_Title_form
{
    width: 100%;
}

#image_exit
{
    text-align: end;
}

#panel_pag
{
    vertical-align: text-top;
    padding-left: 30px;
}

/*----------------------- TITULO ---------------------------*/
/*personalizacion marco del formulario*/

#Marco_Container
{
    margin-top: 10px;
    margin-left: 25px;
    padding: 14px 14px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 95.5%;
    height: 40%;
}

#Marco_btn_Form
{
    margin-top: 1px;
    padding: 20px 20px;
    background-color: silver;
    border-radius: 10px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border: solid 1px #ccc;
    width: 97%;
    height: 10%;
    text-align: center;
}

#Marco_trabajo_Form
{
    position: relative;
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border: solid 1px #ccc;
    width: 97%;
    height: 430px;
    overflow: auto;
}


/*----------------------- TITULO ---------------------------*/
/*personalizacion de los formularios internos*/


#TablaDatos
{
    width: 100%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#TablaDatos_D, #TablaDatos_D_Vista
{
    width: 96%;
    height: 100%;
    padding: 2%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    overflow: auto;
}

#TablaDatos_D_Max
{
    width: 860px;
    height: 380px;
    overflow: auto;
    padding: 40px 30px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#TablaDatos_D_Calen
{
    width: 1120px;
    height: 350px;
    overflow: auto;
    padding: 40px 30px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#TablaProductos_D
{
    width: 985px;
    padding: 40px 30px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#Datos_Direc_D, #Datos_Bank_D
{
    margin-top: 20px;
    width: 90%;
    padding: 40px 30px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#TablaConsulta
{
    width: 100%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

/*personalizacion de las cajas de texto */
#TxtRuta
{
    -webkit-appearance: none;
    border: none;
    width: 97%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           CGA ADMININSTRACION PARAMETRIZABLE                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*----------------------- TITULO ---------------------------*/


/*------------------- ajuste de grid administracion -----------------------------------------------*/
#TLink, #TOpcRol, #TRol, #TUser
{
    font: 12px/20px CenturyGothic,sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           PARAMETRIZACION PROCESOS                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------- ajuste de grid parametrizacion -----------------------------------------------*/
#TArea, #TEmpleado, #TFestivo
{
    font: 12px/20px CenturyGothic,sans-serif;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*                                                           ESTILOS PAISES                                                               */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#container_TGrid, #container_TRDoc_Verificacion, #container_TR_PuertaAcc_Area, #container_TPuertaAcceso, #container_TConsecutivos_General, #container_TConsecutivos, #container_TRGrpDoc_Doc, #container_TDocumento, #container_TRutaDocumentos, #container_TGrpDocumentos, #container_TCargo, #container_TProductos, #container_TTransacciones, #container_TTP_Activo, #container_TTP_Leasing, #container_TSActivo, #container_TActivo, #container_TSTP_Leasing, #container_TFasecolda, #container_TMonedaCot, #container_TPaises, #container_TMensajes, #container_TAyudas, #container_TCiudades, #container_TImpuesto_Gasto, #container_Tlink, #container_Trol, #container_TopcRol, #container_TUser, #container_TInf_Impuesto, #container_TPorcen_Descuentos, #container_TCliente, #container_TMonedaCod, #container_TArea, #container_TEmpleado, #container_TFestivo
{
    width: 1050px;
    height: 238px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

#Container_Consulta
{
    width: 100%;
    overflow: auto;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

#container_Document, #container_direccion, #container_Bank, #container_TGrid_2
{
    width: 970px;
    height: 340px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

#container_TGrid_2
{
    width: 1120px;
    height: 190px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
    margin-top: 5px;
}

#container_TDoc_H
{
    width: 930px;
    height: 150px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

#container_Autorizacion
{
    width: 1160px;
    height: 360px;
    overflow: auto;
    border: solid 1px #CACACA;
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}


.Dialog_Sasif
{
    border-radius: 10px;
    padding: 20px 26px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#D_Impuestos
{
    font: 12px/20px CenturyGothic,sans-serif;
}

.Title_Bold
{
    font: 20px/28px CenturyGothic,sans-serif;
    font-weight: bold;
    color: #2C2C2C;
}

.Label_Bold
{
    font: 12px/20px CenturyGothic,sans-serif;
    font-weight: bold;
}

#Relacion, #Complementos, #Complementos_Read, #Vencimiento, #Complementos_Read_Cliente, #Anexos, #Blo_Inmuebles
{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#Controls
{
    text-align: center;
    width: 100%;
    margin: 10px;
}

.topform
{
    border: gray solid 2px;
    border-style: outset;
    border-radius: 3px;
    width: 150px;
}

.Select_tiny
{
    width: 50px;
}

.Select_medium
{
    width: 90px;
}


#Tabla_Info_Dic, #Tabla_Ubic, #Tabla_Direccion, #Tabla_Correo, #Tabla_Telefono
{
    margin-top: 10px;
    width: 740px;
    border-radius: 20px;
    border-width: 5px;
    font: 12px/20px CenturyGothic,sans-serif;
}

#D_Impuestos, #D_Clientes_Z
{
    margin-top: 15px;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    font: 12px/20px CenturyGothic,sans-serif;
}

#container_direccion
{
    font: 12px/20px CenturyGothic,sans-serif;
    text-align: center;
}

#Blo_Transacciones, #Blo_Cuentas, #TablaHoras
{
    margin-top: 10px;
    width: 100%;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
}

#T_Valores, #T_Saldos
{
    width: 100%;
}

#Marco_Contrato
{
    margin-top: 10px;
    padding: 20px 26px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    width: 90%;
    margin-left: 25px;
}

#Marco_trabajo_Contrato
{
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    width: 95%;
    overflow: auto;
}

#Container_Complementos
{
    height: 45%;
    width: 20%;
    position: absolute;
    padding-top: 4%;
    border-radius: 10px;
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    z-index: 40;
    margin-left: 5px;
    margin-top: 10px;
}

.Option_Cliente
{
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    width: 100%;
    height: 50px;
    text-align: left;
    border: solid 1px #e0e0e0;
    color: gray;
}

    .Option_Cliente:hover
    {
        background: -webkit-linear-gradient(#b70d0d, #631111);
        background: -o-linear-gradient(#b70d0d, #631111);
        background: -moz-linear-gradient(#b70d0d, #631111);
        background: linear-gradient(#b70d0d, #631111);
        border: solid 1px white;
        color: white;
        cursor: pointer;
    }

.C_Image
{
    padding-left: 10px;
    position: absolute;
}

.C_Text
{
    padding-left: 60px;
    margin-top: 15px;
}

.T_options
{
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    z-index: 50;
}

/*CONTROL IMAGEN DIRECCION*/
#DivA:hover .ImaAddress
{
    content: url("../../images/adress_book_w.png");
}

.ImaAddress
{
    content: url("../../images/adress_book.png");
}

/*CONTROL IMAGEN BANCO*/
#DivB:hover .ImaBank
{
    content: url("../../images/bank_w.png");
}

.ImaBank
{
    content: url("../../images/bank.png");
}

/*CONTROL IMAGEN BANCO*/
#DivD:hover .ImaDoc
{
    content: url("../../images/documentos_w.png");
}

.ImaDoc
{
    content: url("../../images/documentos.png");
}

#Foto_Persona
{
    width: 86%;
    height: 120px;
    position: absolute;
    z-index: 0;
    text-align: right;
    margin-top: 10px;
}

#Footer_Det
{
    position: absolute;
    margin-top: 55px;
    border: solid 1px;
    border-radius: 3px;
    border-style: outset;
}

.Sigla
{
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}
