/************************************************************************************
CONTROLES INPUT TYPE TEXT & PASSWORD                                                                                 
*************************************************************************************/
input[type='text'], input[type='password'] {
    border: none;
    padding: 2px 0px 2px 8px;
    border-radius: 3px;
    font-family: CenturyGothic, CenturyGothic, sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

input[id='Circulo'] {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: solid 1.5px;
    color: gray;
}

/*CAJA DE TEXTO LARGA*/
.Text_Long {
    -webkit-appearance: none;
    border: none;
    width: 97%;
}

/*personalizacion de las cajas de texto con resize */
textarea {
    border: none;
    padding: 2px 0px 2px 8px;
    border-radius: 3px;
    font-family: CenturyGothic, CenturyGothic, sans-serif;
}


/************************************************************************************
CONTROLES LABEL                                                                                 
*************************************************************************************/

.Title_Bold {
    font: 20px/28px CenturyGothic,sans-serif;
    font-weight: bold;
    color: #2C2C2C;
}

.Label_Bold {
    font: 12px/20px CenturyGothic,sans-serif;
    font-weight: bold;
}

label {
    color: black;
}

.Sigla {
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}

/************************************************************************************
CONTROLES INPUT TYPE BUTTON                                                                                 
*************************************************************************************/
input[type='button'] {
    padding: 5px 2px 5px 2px;
    border-radius: 3px;
    border: solid 1px gray;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    font: 14px/20px CenturyGothic,sans-serif;
    color: White;
    width: 120px;
    margin: 1px;
    transition: all 0.8s ease;
}

    input[type='button']:hover {
        padding: 5px 2px 5px 2px;
        border-radius: 3px;
        border: solid 1px #6d0101;
        background: -webkit-linear-gradient(#ccc, #e4e4e4); /*For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#ccc, #e4e4e4); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ccc, #e4e4e4); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ccc, #e4e4e4); /* Standard syntax (must be last)*/
        font: 14px/20px CenturyGothic,sans-serif;
        color: #6d0101;
        font-weight: bold;
        margin: 1px;
        transition: all 0.8s ease;
        cursor: pointer;
        cursor: hand; /*internet explorer*/
    }

    input[type='button']:disabled {
        padding: 5px 2px 5px 2px;
        border-radius: 3px;
        border: solid 1px #e4e4e4;
        background: -webkit-linear-gradient(#770c0c, #4e0b0b); /*For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#770c0c, #4e0b0b); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#770c0c, #4e0b0b); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#770c0c, #4e0b0b); /* Standard syntax (must be last)*/
        font: 14px/20px CenturyGothic,sans-serif;
        color: #b9b7b7;
        width: 120px;
        margin: 1px;
        font-weight: bold;
        cursor: not-allowed;
    }

#BtnExit {
    width: 20px;
    height: 20px;
    padding: 0px 2px 5px 2px;
    font-weight: bold;
    cursor: pointer;
    cursor: hand; /*internet explorer*/
}

/************************************************************************************
CONTROLES SELECT                                                                                  
*************************************************************************************/
select {
    width: 80%;
    height: 20px;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    border: solid 1px gray;
    color: #ffffff;
    border-radius: 3px;
    vertical-align: text-top;
}

option {
    font: 14px/20px CenturyGothic,sans-serif;
    color: #ffffff;
    background-color: #631111;
    border: solid 1px gray;
}

.select_medium {
    padding: 2px 0px 2px 8px;
    border-radius: 3px;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    border: solid 1px gray;
    width: 220px;
    color: White;
    font: 14px/20px CenturyGothic,sans-serif;
}

.select_large {
    padding: 2px 0px 2px 8px;
    border-radius: 3px;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    border: solid 1px gray;
    width: 350px;
    color: White;
    font: 14px/20px CenturyGothic,sans-serif;
}

.Select_tiny {
    width: 50px;
}

.Select_medium {
    width: 90px;
}

/************************************************************************************
 ACORDION JQUERY                                                                         
*************************************************************************************/
.ui-accordion .ui-accordion-content {
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    padding: 10px 16px;
    border-radius: 0px 0px 7px 7px;
    border-color: gray;
    border-width: 1px;
    border-style: outset;
    padding: 10px 10px;
    font: 14px/20px CenturyGothic,sans-serif;
}

.ui-accordion .ui-accordion-header {
    border-radius: 7px 7px 0px 0px;
    border-color: #79b7e7;
    border-width: 1px;
    font: 14px/20px CenturyGothic,sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    border-style: outset;
}

.ui-accordion .ui-accordion-header-active {
    border: solid 1px #6d0101;
    background: -webkit-linear-gradient(#ccc, #e4e4e4); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ccc, #e4e4e4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ccc, #e4e4e4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ccc, #e4e4e4); /* Standard syntax (must be last)*/
    font: 14px/20px CenturyGothic,sans-serif;
    color: #6d0101;
    font-weight: bold;
    transition: all 0.8s ease;
}

.ui-accordion .ui-accordion-header:hover {
    border: 1px solid #c5dbec;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.8s ease;
}

.ui-accordion .ui-widget {
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    border-radius: 5px;
}

/************************************************************************************
TABS JQUERY                                                                         
*************************************************************************************/
.ui-tabs .ui-tabs-panel {
    border: 1px solid #c5dbec;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    font: 14px/20px CenturyGothic,sans-serif;
    font-weight: bold;
    color: #ffffff;
    border-color: White;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #c5dbec;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    font: 14px/20px CenturyGothic,sans-serif;
    font-weight: bold;
    color: #ffffff;
    border-color: White;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    border-color: White;
    color: White;
    background: -webkit-linear-gradient(#583101, #735323); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#583101, #735323); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#583101, #735323); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#583101, #735323); /* Standard syntax (must be last)*/
}

.ui-widget-header {
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    color: #ffffff;
    border: 1px solid #630f0f;
}

/************************************************************************************
 DIALOG JQUERY                                                                         
*************************************************************************************/
.Dialog_Control_Sasif {
    background: rgba(20,20,20,0.9);
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
}

.ui-datepicker {
    background: -webkit-linear-gradient(#e0e0e0, #dadada); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0, #dadada); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0, #dadada); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0, #dadada); /* Standard syntax (must be last)*/
    border: solid 1px #921919;
    border-radius: 5px;
}

/************************************************************************************
TOOL TIP                                                                         
*************************************************************************************/
/* Clase que tendra el tooltip */
.cssToolTip {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    color: #D8D104; /* Color del texto */
}
    /* El tooltip */
    .cssToolTip span {
        background: rgba(20,20,20,0.9) url('../../images/alert.png') center left 5px no-repeat;
        border: 2px solid #D8D104;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        color: #D8D104;
        display: none; /* El tooltip por defecto estara oculto */
        font-size: 0.8em;
        padding: 10px 10px 10px 50px;
        max-width: 6000px;
        position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
        top: 15px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
        left: 40px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
        z-index: 10000; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    }

    /* El tooltip cuando se muestra */
    .cssToolTip:hover span {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Clase que tendra el tooltip */
.cssToolTip_L {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    color: #D8D104; /* Color del texto */
}

    /* El tooltip */
    .cssToolTip_L span {
        background: rgba(20,20,20,0.9) url('../../images/alert.png') center left 5px no-repeat;
        border: 2px solid #D8D104;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        color: #D8D104;
        display: none; /* El tooltip por defecto estara oculto */
        font-size: 0.8em;
        padding: 10px 10px 10px 50px;
        max-width: 6000px;
        position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
        top: 15px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
        right: 10px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
        z-index: 10000; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    }

    /* El tooltip cuando se muestra */
    .cssToolTip_L:hover span {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Clase que tendra el tooltip */
.cssToolTip_ver {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    color: #ffffff; /* Color del texto */
}

    /* El tooltip */
    .cssToolTip_ver span {
        background: rgba(20,20,20,0.7);
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        color: #ffffff;
        display: none; /* El tooltip por defecto estara oculto */
        font-size: 0.8em;
        padding: 10px 10px 10px 10px;
        max-width: 6000px;
        position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
        top: 10px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
        left: 10px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
        z-index: 1000; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    }

    /* El tooltip cuando se muestra */
    .cssToolTip_ver:hover span {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Clase que tendra el tooltip */
.cssToolTip_Form {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    color: #ffffff; /* Color del texto */
}

    /* El tooltip */
    .cssToolTip_Form span {
        background: rgba(20,20,20,0.7);
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        color: #ffffff;
        display: none; /* El tooltip por defecto estara oculto */
        font-size: 0.8em;
        padding: 10px 10px 10px 10px;
        max-width: 6000px;
        position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
        top: 35px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
        left: 35px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
        z-index: 1000; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    }

    /* El tooltip cuando se muestra */
    .cssToolTip_Form:hover span {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Clase que tendra el tooltip */
.cssToolTip_Form_L {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    color: #ffffff; /* Color del texto */
}


    /* El tooltip */
    .cssToolTip_Form_L span {
        background: rgba(20,20,20,0.7);
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        color: #ffffff;
        display: none; /* El tooltip por defecto estara oculto */
        font-size: 0.8em;
        padding: 10px 10px 10px 10px;
        max-width: 6000px;
        position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
        top: 35px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
        right: 10px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
        z-index: 1000; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    }

    /* El tooltip cuando se muestra */
    .cssToolTip_Form_L:hover span {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }


/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Clase que tendra el tooltip */
.cssToolTip_Form_T {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    color: #ffffff; /* Color del texto */
}

    /* El tooltip */
    .cssToolTip_Form_T span {
        background: rgba(20,20,20,0.7);
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        color: #ffffff;
        display: none; /* El tooltip por defecto estara oculto */
        font-size: 0.8em;
        padding: 10px 10px 10px 10px;
        max-width: 6000px;
        position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
        bottom: 1px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
        left: 150px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
        z-index: 1000; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    }

    /* El tooltip cuando se muestra */
    .cssToolTip_Form_T:hover span {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Clase que tendra el tooltip */
.cssToolTip_Boton {
    position: relative; /* Esta clase tiene que tener posicion relativa */
    color: #000000; /* Color del texto */
}
    /* El tooltip */
    .cssToolTip_Boton span {
        background: rgba(20,20,20,0.9) ;
        border: 2px solid #ffffff;
        border-radius: 5px;
        box-shadow: 5px 5px 5px #333;
        color: #ffffff;
        display: none; /* El tooltip por defecto estara oculto */
        font-size: 0.8em;
        padding: 10px 10px 10px 10px;
        max-width: 8000px;
        position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
        top: 5px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
        left: 5px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
        z-index: 10000; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
    }

    /* El tooltip cuando se muestra */
    .cssToolTip_Boton:hover span {
        display: inline; /* Para mostrarlo simplemente usamos display block por ejemplo */
    }


img[src='../images/error.png'], img[src='../../images/error.png'] {
    position: absolute;
}


.Grid_Head {
    border-radius: 5px 5px 0 0;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    font: 14px/20px CenturyGothic,sans-serif;
    font-weight: bold;
    color: #ffffff;
    border-color: White;
}


/* para 480px o menos */
@media screen and (max-width: 480px) {

    input[type='button'] {
        width: 80px;
    }
}
