/* --------------------------------------------------------------------------- */
/* --------------------------- HEADER MASTER PAGE ---------------------------- */
/* --------------------------------------------------------------------------- */

/* -------       Label Usuario          ------*/
#User, #Name_User
{
    color: #b70d0d;
    font-weight: bold;
}

/* -------       Label Titulo          ------*/
#tituloPrincipal
{
    color: #b70d0d;
}

/* -------       Label Hora           ------*/
#Hours
{
    top: 4em;
    right: 1em;
    color: #b70d0d;
    font: 14px/20px CenturyGothic,sans-serif;
    font-weight: bold;
}

/* -------       div encabezado      ------*/
#Header
{
    float: none;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border-radius: 3px;
    border: solid 1px #ccc;
}

/* -------         fondo            ------*/
.header
{
    background-position: center;
}

.Dimencion_Header
{
    height: 50px;
    transition: all 0.8s ease;
}

    .Dimencion_Header:hover
    {
        height: 110px;
        transition: all 0.8s ease;
    }

/* --------------------------------------------------------------------------- */
/* ------------------------- BAR MENU MASTER PAGE ---------------------------- */
/* --------------------------------------------------------------------------- */

/* -------         fondo            ------*/
.Bar
{
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    border-radius: 3px;
    border: solid 1px #b3b3b3;
    position: absolute;
    width: 98.9%;
    z-index: 50;
}


/* --------------------------------------------------------------------------- */
/* ------------------------- CONTENT MASTER PAGE ------_---------------------- */
/* --------------------------------------------------------------------------- */

/* -------         fondo            ------*/
.main
{
    margin-top: 48px;
}

/* -------         dimencion panel 1            ------*/
#panel_menu
{
    height: 70%;
    vertical-align: text-top;
    padding-left: 1px;
}

.Dimencion_Menu
{
    width: 48px;
    transition: all 0.8s ease;
}

    .Dimencion_Menu:hover
    {
        width: 350px;
        transition: all 0.8s ease;
    }

/* -------         dimencion panel            ------*/
#container_menu
{
    height: 79%;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 3px;
    border: solid 1px #ccc;
    position: absolute;
    float: left;
    z-index: 40;
    margin-top: 4px;
}

#Bar_TMenu
{
    background: -webkit-linear-gradient(#b70d0d, #921919); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #921919); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #921919); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #921919);
    border: solid 1px #ccc;
    float: left;
    width: 20px;
    height: 74%;
    padding-right: 10px;
    color: #FFFFFF;
    text-align: right;
    padding-top: 40px;
    position: absolute;
    z-index: 50;
    margin-top: 4px;
}

/* --------------------------------------------------------------------------- */
/* ------------------------- FOOTER MASTER PAGE ---------------------------- */
/* --------------------------------------------------------------------------- */

/* -------         fondo            ------*/
#Footer
{
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    border-radius: 3px;
    position: absolute;
    margin-top: 5px;
    width: 95%;
    margin-left: 25px;
    bottom: 0;
    z-index: 100;
}


.Dimencion_Footer
{
    height: 40px;
    transition: all 0.8s ease;
}

    .Dimencion_Footer:hover
    {
        height: 100px;
        transition: all 0.8s ease;
    }

/* -------         parrafos            ------*/
#Parraf_1, #Parraf_2, #Parraf_3
{
    color: #ffffff;
    font-weight: bold;
    font-size: small;
}
