/* --------------------------------------------------------------------------- */
/* --------------------------- HEADER MASTER PAGE ---------------------------- */
/* --------------------------------------------------------------------------- */

/* -------       Label Usuario          ------*/
#User, #Name_User
{
    color: #b70d0d;
    font-weight: bold;
}

/* -------       Label Titulo          ------*/
#tituloPrincipal
{
    color: #b70d0d;
}

/* -------       Label Hora           ------*/
#Hours
{
    top: 4em;
    right: 1em;
    color: #b70d0d;
    font: 14px/20px CenturyGothic,sans-serif;
    font-weight: bold;
}

/* -------       div encabezado      ------*/
#Header
{
    float: none;
    height: 140px;
    background: -webkit-linear-gradient(#f6f6f6, #e8e8e8); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f6f6f6, #e8e8e8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f6f6f6, #e8e8e8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f6f6f6, #e8e8e8); /* Standard syntax (must be last)*/
    border-radius: 3px;
    border: solid 1px #ccc;
}

/* -------         fondo            ------*/
.header
{
    background-position: center;
}

/* --------------------------------------------------------------------------- */
/* ------------------------- BAR MENU MASTER PAGE ---------------------------- */
/* --------------------------------------------------------------------------- */

/* -------         fondo            ------*/
.Bar
{
    background-position: center;
}


/* --------------------------------------------------------------------------- */
/* ------------------------- CONTENT MASTER PAGE ------_---------------------- */
/* --------------------------------------------------------------------------- */

/* -------         fondo            ------*/
.main
{
    text-align: center;
    padding-left: 50px;
}

/* -------         dimencion panel 1            ------*/
#panel_menu
{
    width: 150px;
    height: 500px;
    vertical-align: text-top;
    padding-left: 1px;
}

/* -------         dimencion panel21            ------*/
#container_menu
{
    width: 200px;
    height: 585px;
    background-color: white;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid #000000;
    position: relative;
}

/* --------------------------------------------------------------------------- */
/* ------------------------- FOOTER MASTER PAGE ------_---------------------- */
/* --------------------------------------------------------------------------- */

/* -------         fondo            ------*/
#Footer
{
    position: absolute;
    border-radius: 3px;
    background: -webkit-linear-gradient(#b70d0d, #631111); /*For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b70d0d, #631111); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b70d0d, #631111); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b70d0d, #631111); /* Standard syntax (must be last)*/
    margin-top: 5px;
    width: 95%;
    margin-left: 25px;
    bottom: 0;
    z-index: 100;
}

.Dimencion_Footer
{
    height: 40px;
    transition: all 0.8s ease;
}

    .Dimencion_Footer:hover
    {
        height: 100px;
        transition: all 0.8s ease;
    }

/* -------         parrafos            ------*/
#Parraf_1, #Parraf_2, #Parraf_3
{
    color: #ffffff;
    font-weight: bold;
    font-size: small;
}
